/* Theme css for the website*/

/* campus  */

#demo{
  height:100%;
  position:relative;
  overflow:hidden;
}
/* Events Button */
.events_button {
  /* width of text - height/padding_around_the_text - fontstyle*/
  font: 700 18px/59px "Roboto", sans-serif;
  width: 180px;
  text-align: center;
  display: block;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  
}
.events_button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #222222;
  top: 10px;
  bottom: 10px;
  left: 25px;
  display: block;
  right: 10px;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.events_button:hover, .events_button:focus {
  color: #fff !important;
}
.events_button:hover:before, .events_button:focus:before {
  transform: scaleY(1);
}

/* End Of Events Button */
.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 20px;
        }
        
        .page-top{
            margin-top:150px;
        }

   
img.zoom {
    width: 250px;
    height: 200px;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }

/* END OF CAMPUS*/
/* Hostel   */



/* End Of Hostel */
::selection {
  background-color: #ff4935;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: #ff4935;
  color: #FFFFFF;
}

/* Button */
.button_all {
  /* width of text - height/padding_around_the_text - fontstyle*/
  font: 700 18px/59px "Roboto", sans-serif;
  width: 180px;
  text-align: center;
  
  background: #fdd835;
  display: block;
  border: 0;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  padding: 0;
}
.button_all:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #222222;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button_all:hover, .button_all:focus {
  color: #fff !important;
}
.button_all:hover:before, .button_all:focus:before {
  transform: scaleY(1);
}

/* Section Title*/
.tittle {
  text-align: center;
  text-transform: uppercase;
}
.tittle h2 {
  font: 400 24px "Oswald", sans-serif;
  color: #222222;
  padding-top: 90px;
  position: relative;
}
.tittle h2:after {
  content: "";
  position: absolute;
  background: #fc440c;
  height: 5px;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.tittle h4 {
  font: 400 14px "Roboto", sans-serif;
  color: #555555;
  padding-top: 55px;
}

/* Subtittle */
.subtittle h2 {
  font: 700 36px "Roboto", sans-serif;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.subtittle h2:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #fc440c;
  left: 0;
  bottom: -22px;
}
.subtittle h5 {
  font: 400 14px "Roboto", sans-serif;
  color: #555555;
  padding-top: 22px;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 320px 320px;
  background-image: url(../images/pre_loader.gif);
}
 @media only screen and (max-width: 768px)  {
            .preloader 
            {
                   position: fixed;
                   left: 0px;
                   top: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 999999;
                    background-color: #fff;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 120px 120px;
                    background-image: url(../images/pre_loader.gif);
            }
           
        }
/*--------------------------------------------------*/
#gototop{
  width:40px;
  position: fixed;
  bottom:10px;
  right:20px;
  z-index:9999;
}
/*Prefix Styles*/
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /*Section Fix*/
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body p {
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  color: #555555;
  margin: 0;
}
body section.row, body header.row, body footer.row {
  margin: 0;
}

/*Ancore*/
a, .btn, button {
  outline: none;
  transition: all 300ms linear 0s;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
  transition: all 300ms linear 0s;
}
a:focus, a:hover, .btn:focus, .btn:hover, button:focus, button:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms linear 0s;
}

/*--------------------------------------------------*/
/* Top header */
.top_header_area {
  background: #111f29;
}
.top_header_area .top_nav li a {
  font: 400 14px/50px "Roboto", sans-serif;
  color: #fff;
  padding: 0;
  padding-left: 30px;
}
.top_header_area .top_nav li a i {
  color: #f6b60b;
  font-size: 18px;
  padding-right: 10px;
}
.top_header_area .top_nav li a:hover, .top_header_area .top_nav li a:focus {
  background-color: transparent;
  color: #f6b60b;
}
.top_header_area .top_nav li:first-child a {
  padding: 0;
}
.top_header_area .social_nav {
  margin: 0;
  padding-top: 12px;
}
.top_header_area .social_nav li a {
  font-size: 14px;
  color: #fff;
  padding: 0;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-left: 10px;
}
.top_header_area .social_nav li a i {
  line-height: 24px;
}
.top_header_area .social_nav li a:hover, .top_header_area .social_nav li a:focus {
  background: #f6b60b;
  color: #111f29;
}

/* End Top header */
/* Top header 2 */
.top_header_area.top_header {
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.top_header_area.top_header .right_top_header {
  background: #111f29;
  display: block;
  overflow: hidden;
  padding-left: 20px;
}
.top_header_area.top_header .right_top_header:after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  background: #111f29;
  height: 50px;
  z-index: -1;
}

/* End Top header 2 */
/* Header Aera */
.header_aera {
  background: #fff;
  border-radius: 0;
  border: 0;
  margin: 0;
  width: 100%;
  z-index: 9999;
  top: 0;
  box-shadow: 0px 0px 20px 0px rgba(21, 47, 95, 0.2);
}


.header_aera .show {
  height: 80px;
  border-bottom: 1px solid transparent;
}
.header_aera .navbar-header .navbar-brand {
  padding-top: 39px;
}
.header_aera .navbar-header .navbar-brand img {
  max-width: 100%;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a {
  font: 700 14px/100px "Roboto", sans-serif;
  color: #222222;
  text-transform: uppercase;
  padding: 0;
  padding-left: 30px;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
  color: #ff4935;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
  width: 100px;
  background: #f6b60b;
  color: #fff;
  padding: 0;
  text-align: center;
  margin-left: 15px;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:focus {
  color: #222222;
}
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu .other_dropdwn {
    margin-right: -122px;
  }
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  min-width: 190px;
  transition: all 500ms ease-in-out;
  background: white;
}
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    margin-right: -150px;
    display: block;
    transform: rotateX(-90deg);
    transform-origin: top;
  }
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li {
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a {
  line-height: normal;
  font: 700 14px/normal "Roboto", sans-serif;
  padding: 12px 8px;
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:before {
  content: "";
  width: 100%;
  height: 5px;
  background: #222222;
  position: absolute;
  top: 0px;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: all 800ms ease-in-out;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  background: #222222;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: all 800ms ease-in-out;
}
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul {
    transform: rotateX(0deg);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:before {
    transform: scaleX(1);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:after {
    transform: scaleX(1);
  }
}

/* End Header Aera */


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

/* header area 2 */
/*--------------------------------------------------*/
/* slider_area */
.slider_area .slider_inner .camera_caption {
  height: 100%;

}

.slider_area .slider_inner .camera_caption div {
  background: transparent;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-shadow: none;
  left: 0;
}
.slider_area .slider_inner .camera_caption div h4 {
  color: #ff4935;
  font: 400 35px "Roboto", sans-serif;
}
.slider_area .slider_inner .camera_caption div h3 {
  color: #fff;
  font: 400 30px "Roboto", sans-serif;
  padding-top: 27px;
}
.slider_area .slider_inner .camera_caption div p {
  padding-top: 60px;
  color: #fff;
  font: 400 14px/26px "Roboto", sans-serif;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.slider_area .slider_inner .camera_caption div a {
  font: 700 18px/59px "Roboto", sans-serif;
  width: 180px;
  text-align: center;
  background: #f6b60b;
  display: block;
  text-shadow: none;
  margin: 0 auto;
  outline: none !important;
  box-shadow: none;
  border: 0;
  color: #222222;
  position: relative;
  z-index: 2;
  padding: 0;
}
.slider_area .slider_inner .camera_caption div a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.slider_area .slider_inner .camera_caption div a:hover:before, .slider_area .slider_inner .camera_caption div a:focus:before {
  transform: scaleY(1);
}
.slider_area .slider_inner .camera_prev, .slider_area .slider_inner .camera_next {
  opacity: 1 !important;
  background-color: transparent;
}
.slider_area .slider_inner .camera_prev span, .slider_area .slider_inner .camera_next span {
  display: none;
}
.slider_area .slider_inner .camera_prev {
  position: relative;
}
.slider_area .slider_inner .camera_prev:after {
  content: "";
  position: absolute;
  top: -20px;
  background: url("../vendors/camera-slider/images/prev.png") no-repeat;
  left: 382px;
  height: 50px;
  width: 50px;
}
.slider_area .slider_inner .camera_next:after {
  content: "";
  position: absolute !important;
  top: 0;
  background: url("../vendors/camera-slider/images/next.png") no-repeat;
  right: 382px;
  height: 50px;
  width: 50px;
}
.slider_area .slider_inner .camera_fakehover {
  top: 20px;
}

/* End slider_area */

/* Banner Area */
.banner_area {
  background: url("../images/school1.jpg") no-repeat fixed;
  
  text-align: left;
  position: relative;
  z-index: 1;
  padding-bottom: 70px;

}

.banner_area:after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;

}
.banner_area h2 {
  color: #fff;
  font: 400 40px "Oswald", sans-serif;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 85px;

}
.banner_area .breadcrumb {
  background-color: transparent;
  padding-top: 15px;
}
.banner_area .breadcrumb li a {
  font: 400 14px "Roboto", sans-serif;
  color: #fefefe;
}
.banner_area .breadcrumb li a.active {
  color: #f6b60b;
}




/* End Banner Area */
/*-------why_choose_us---------------------*/
.why_choose_us {
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 60px;
}
.why_choose_us .why_choose_us_all .choose {
  text-align: center;
  padding-bottom: 25px;
}
.why_choose_us .why_choose_us_all .choose i {
  font-size: 48px;
  color: #f6b60b;
  padding-bottom: 35px;
}
.why_choose_us .why_choose_us_all .choose h4 {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
  padding-bottom: 20px;
}
.why_choose_us .why_choose_us_all .choose p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
}

/*--------------------------------------------------*/
/* about_us_area */
.about_us_area {
  background: #fefefe;
}
.about_us_area .about_row {
  padding-top: 70px;
  padding-bottom: 70px;
}
.about_us_area .about_row p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 54px;
}
.about_us_area .about_row .about_client {
  padding-top: 7px;
}
.about_us_area .about_row .about_client img {
  max-width: 100%;
}
.about_us_area .about_us2_pages {
  padding-top: 90px;
}

/* End about_us_area */
/*--------------------------------------------------*/
.campus {
  background: #d1cfcf;
}

.campus .tittle h4 {
  color: #333;
}
.campus .campus_inner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.campus .campus_inner .campus_sub_inner {
  text-align: center;
  padding-bottom: 30px;
  cursor: move;
}
.campus .campus_inner .campus_sub_inner .campus-img {
  z-index: 2;
}
.campus .campus_inner .campus_sub_inner .campus-img img {
  max-width: 100%;
}
.campus .campus_inner .campus_sub_inner .campus-content {
  background: #fff;
  padding: 0 30px;
  padding-bottom: 20px;
  margin-top: -30px;
}
.campus .campus_inner .campus_sub_inner .campus-content i {
  color: #fff;
  font-size: 24px;
  background: #333333;
  line-height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
  z-index: 1;
  transition: all 300ms linear 0s;
  position: relative;
}
.campus .campus_inner .campus_sub_inner .campus-content a {
  font: 700 18px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding-top: 17px;
  display: block;
}
.campus .campus_inner .campus_sub_inner .campus-content p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 20px;
}
.campus .campus_inner .campus_sub_inner:hover a, .campus .campus_inner .campus_sub_inner:focus a {
  color: #f6b60b;
}
.campus .campus_inner .campus_sub_inner:hovercampus_inner .campus_sub_inner:focus i {
  font-size: 35px;
}

/*--------------------------------------------------*/
.our_team_area {
  padding-bottom: 70px;
  background: #fefefe;
}
.our_team_area .team_row {
  padding-top: 70px;
}
.our_team_area .team_row .team_membar {
  height: 310px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.our_team_area .team_row .team_membar img {
  max-width: 100%;
}
.our_team_area .team_row .team_membar .team_content {
  background: #f6b60b;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.our_team_area .team_row .team_membar .team_content ul {
  padding: 0;
  margin: 0;
  height: 0px;
  overflow: hidden;
  transition: all 300ms linear 0s;
}
.our_team_area .team_row .team_membar .team_content ul li {
  list-style: none;
  padding-left: 20px;
  display: inline-block;
}
.our_team_area .team_row .team_membar .team_content ul li:first-child {
  padding: 0;
}
.our_team_area .team_row .team_membar .team_content ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 43px;
  width: 45px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
}
.our_team_area .team_row .team_membar .team_content ul li a:hover, .our_team_area .team_row .team_membar .team_content ul li a:focus {
  color: #f6b60b;
  background: #fff;
}
.our_team_area .team_row .team_membar .team_content .name {
  font: 700 14px "Roboto", sans-serif;
  color: #fff;
  display: block;
  text-transform: uppercase;
  padding-top: 10px;
}
.our_team_area .team_row .team_membar .team_content h6 {
  font: 400 14px "Roboto", sans-serif;
  color: #fff;
  padding-top: 5px;
}
.our_team_area .team_row .team_membar:hover .team_content ul, .our_team_area .team_row .team_membar:focus .team_content ul {
  height: 50px;
}



/*--------------------------------------------------*/
.featured_works {
  background: url("../images/protfolio_bg.jpg") no-repeat fixed;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  display: block;
  overflow: hidden;
  padding-bottom: 100px;
}
.featured_works:after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
}
.featured_works .tittle h2 {
  color: #fff;
}
.featured_works .tittle h4 {
  color: #fefefe;
}
.featured_works .featured_gallery {
  padding-top: 60px;
}
.featured_works .featured_gallery .gallery_iner {
  position: relative;
  overflow: hidden;
}
.featured_works .featured_gallery .gallery_iner img {
  max-width: 100%;
}
.featured_works .featured_gallery .gallery_iner:after {
  content: "";
  position: absolute;
  background-color: rgba(248, 184, 29, 0.7);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 300ms linear 0s;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  z-index: 2;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover h4 {
  color: #fff;
  font: 700 14px "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 18px;
  position: relative;
  right: -100%;
  transition: all 300ms linear 0s;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover a {
  width: 200px;
  font: 400 14px/60px "Roboto", sans-serif;
  text-align: center;
  display: block;
  border-radius: 10px;
  background: #333333;
  color: #fff;
  position: relative;
  left: -100%;
  transition: all 300ms linear 0s;
  text-transform: uppercase;
  margin: 0 auto;
}
.featured_works .featured_gallery .gallery_iner .gallery_hover a:hover, .featured_works .featured_gallery .gallery_iner .gallery_hover a:focus {
  background: #fff;
  color: #f6b60b;
}
.featured_works .featured_gallery .gallery_iner:hover:after, .featured_works .featured_gallery .gallery_iner:focus:after {
  opacity: 1;
}
.featured_works .featured_gallery .gallery_iner:hover .gallery_hover h4, .featured_works .featured_gallery .gallery_iner:focus .gallery_hover h4 {
  right: 0;
}
.featured_works .featured_gallery .gallery_iner:hover .gallery_hover a, .featured_works .featured_gallery .gallery_iner:focus .gallery_hover a {
  left: 0;
}

/*--------------------------------------------------*/

/* Map Css */
.contact_map iframe {
  height: 495px;
  width: 100%;
}

/* End Map Css */
/* All contact Info Css */
.all_contact_info .contact_row {
  padding: 100px 0;
}
.all_contact_info .contact_row .contact_info h2 {
  font: 700 26px/1 "Roboto", sans-serif;
  color: #222222;
  padding-bottom: 30px;
  position: relative;
}
.all_contact_info .contact_row .contact_info h2:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #f6b60b;
  left: 0;
  bottom: 0;
}
.all_contact_info .contact_row .contact_info p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 30px;
}


/* End All contact Info Css */
/*--------------------------------------------------*/
.footer_area {
  background: url("../images/underpic.jpg") no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.9;
}
.footer_area:after {
  content: "";
  position: absolute;
  opacity: 0.9;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
}
.footer_area .footer_row {
  padding-top: 95px;
  padding-bottom: 50px;
}
.footer_area .footer_row .footer_about {
  padding-bottom: 50px;
}
.footer_area .footer_row .footer_about h2 {
  font: 400 18px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 25px;
}
.footer_area .footer_row .footer_about img {
  max-width: 100%;
}
.footer_area .footer_row .footer_about p {
  font: 400 14px/26px "Oswald", sans-serif;
  color: #fefefe;
  padding-top: 22px;
}
.footer_area .footer_row .footer_about .socail_icon {
  padding: 0;
  margin: 0;
  padding-top: 25px;
}
.footer_area .footer_row .footer_about .socail_icon li {
  display: inline-block;
  list-style: none;
  padding-left: 8px;
}
.footer_area .footer_row .footer_about .socail_icon li:first-child {
  padding: 0;
}
.footer_area .footer_row .footer_about .socail_icon li a {
  border: 2px solid #f6b60b;
  display: block;
  line-height: 26px;
  width: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.footer_area .footer_row .footer_about .socail_icon li a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f6b60b;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.footer_area .footer_row .footer_about .socail_icon li a i {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding-top: 7px;
}
.footer_area .footer_row .footer_about .socail_icon li a:hover:after, .footer_area .footer_row .footer_about .socail_icon li a:focus:after {
  transform: scaleY(1);
}
.footer_area .footer_row .footer_about .quick_link {
  padding: 0;
  margin: 0;
}
.footer_area .footer_row .footer_about .quick_link li {
  list-style: none;
}
.footer_area .footer_row .footer_about .quick_link li a {
  font: 400 14px/28px "Roboto", sans-serif;
  color: #fefefe;
  position: relative;
  padding-left: 30px;
}
.footer_area .footer_row .footer_about .quick_link li a i {
  font-size: 14px;
  color: #f6b60b;
  padding-right: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 300ms linear 0s;
}
.footer_area .footer_row .footer_about .quick_link li a:hover, .footer_area .footer_row .footer_about .quick_link li a:focus {
  color: #f6b60b;
}
.footer_area .footer_row .footer_about .quick_link li a:hover i, .footer_area .footer_row .footer_about .quick_link li a:focus i {
  left: 8px;
}
.footer_area .footer_row .footer_about .twitter {
  font: 400 14px/28px "Roboto", sans-serif;
  color: #fefefe;
  display: block;
  padding-bottom: 15px;
}
.footer_area .footer_row .footer_about .twitter:hover, .footer_area .footer_row .footer_about .twitter:focus {
  color: #f6b60b;
}
.footer_area .footer_row .footer_about address p {
  font: 400 14px/28px "Roboto", sans-serif;
  color: #fff;
  padding: 0;
}
.footer_area .footer_row .footer_about address .my_address {
  padding: 0;
  margin: 0;
  padding-top: 15px;
}
.footer_area .footer_row .footer_about address .my_address li {
  list-style: none;
}
.footer_area .footer_row .footer_about address .my_address li a {
  font: 400 14px/28px "Roboto", sans-serif;
  color: #fff;
}
.footer_area .footer_row .footer_about address .my_address li a i {
  color: #f6b60b;
  padding-right: 20px;
  font-size: 14px;
  display: inline-block;
}
.footer_area .footer_row .footer_about address .my_address li a:hover, .footer_area .footer_row .footer_about address .my_address li a:focus {
  color: #f6b60b;
}
.footer_area .footer_row .footer_about address .my_address li span {
  display: inline-block;
  padding-left: 35px;
  margin-top: -30px;
}
.footer_area .copyright_area {
  background: #090909;
  font: 400 14px/100px "Roboto", sans-serif;
  color: #fefefe;
  text-align: center;
}
.footer_area .copyright_area a {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #f6b60b;
}
.footer_area .copyright_area a:hover, .footer_area .copyright_area a:focus {
  color: #fefefe;
}

/*--------------------------------------------------*/
@media (max-width: 1700px) {
  .slider_area_tow .slider_inner .camera_prev::after {
    left: 0px !important;
  }

  .slider_area_tow .slider_inner .camera_next::after {
    right: 0px !important;
  }

  .slider_area .slider_inner .camera_next::after {
    right: 105px;
  }

  .slider_area .slider_inner .camera_prev::after {
    left: 105px;
  }
}
@media (max-width: 1199px) {
  .slider_area .slider_inner .camera_next::after {
    right: 0px;
  }

  .slider_area .slider_inner .camera_prev::after {
    left: 0;
  }

  .slider_area_tow .slider_inner .camera_caption div .container {
    max-width: 940px !important;
  }

  .our_team_area .team_row .team_membar img {
    height: 330px;
  }

  
}
@media (max-width: 991px) {
  .top_header_area .top_nav li a {
    padding-left: 20px;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    padding-left: 20px;
  }

  

  .header_aera_tow .navbar-collapse .navbar-nav.navbar-right li a {
    padding-left: 16px;
  }

  .top_header .top_nav li a {
    padding-left: 10px;
  }

  .header_aera_tow .navbar_right_fulid::after {
    display: none;
  }

  .top_header_area.top_header {
    background: #111f29 !important;
  }

  .top_header_area.top_header .right_top_header::after {
    display: none;
  }

  .header_aera_tow {
    background: #fff !important;
  }

  .header_aera_tow .navbar_right_fulid {
    box-shadow: none;
  }

  .all_header {
    box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
  }

  .slider_area .slider_inner .camera_caption div p {
    max-width: 600px;
  }

  .footer_about.quick {
    padding-bottom: 70px !important;
  }

  .slider_area_tow .slider_inner .camera_caption div .container a {
    margin-bottom: 50px;
  }

  .slider_area_tow .slider_inner .camera_caption div .container {
    max-width: 720px !important;
  }

  .slider_area_tow .slider_inner .camera_caption div {
    padding-top: 30px;
  }

  .slider_area_tow .slider_inner .camera_caption div p {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  

  .contact_map #map {
    height: 300px;
  }

  
}
@media (max-width: 800px) {
  .slider_area_tow .slider_inner .camera_caption div {
    right: 0;
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 767px) {
  .top_header_area .top_nav li {
    display: inline-block;
  }
  .top_header_area .top_nav li:first-child a {
    padding-left: 15px;
  }
  .top_header_area .top_nav li a {
    line-height: 28px;
  }

  .top_header_area .social_nav {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .top_header_area .social_nav li {
    display: inline-block;
  }
  .top_header_area .social_nav li:first-child a {
    margin-left: 0;
  }

  .navbar-toggle {
    top: 15px;
  }

  .header_aera .navbar-header {
    height: 80px;
  }
  .header_aera .navbar-header .navbar-brand {
    padding-top: 30px;
  }
  
  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    line-height: 45px;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    padding-left: 30px;
    background-color: transparent;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a:focus {
    color: #f6b60b;
  }

  .slider_inner.camera_wrap {
    height: 500px !important;
  }

  .about_us_area .about_row .about_client {
    padding-top: 40px;
  }

  .what_we_area .construction_iner .construction {
    max-width: 390px;
    margin: 0 auto;
  }

  .our_team_area .team_row .team_membar {
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .our_team_area .team_row .team_membar img {
    height: auto;
  }

  .our_achievments_area .achievments_row .completed {
    border: 0;
  }


  .footer_about.quick {
    padding-bottom: 50px !important;
  }

  .footer_area .footer_row {
    padding-bottom: 0;
  }

  .slider_area_tow .slider_inner .camera_caption div .container {
    max-width: 726px !important;
  }

  .header_aera_tow .navbar_right_fulid {
    height: 80px;
  }

  .top_header_area.top_header {
    display: none;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
    height: 45px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #fff;
  }

  

  .about_client.about_pages_client {
    padding-top: 0 !important;
    padding-bottom: 30px;
  }


  
  .widget_area {
    padding-top: 60px;
  }

  .footer_area .footer_row .footer_about address .my_address li span {
    padding-left: 0;
  }


  
}
@media (max-width: 689px) {
  .slider_area .slider_inner .camera_caption div {
    width: 88%;
    right: 0;
    margin: 0 auto;
  }

  .slider_area .slider_inner .camera_caption div p {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .slider_area_tow .slider_inner .camera_caption div .container {
    max-width: 100% !important;
  }
}

@media (max-width: 446px) {
  .slider_area_tow .slider_inner .camera_caption div {
    padding-top: 40px;
  }

  .slider_area_tow .slider_inner .camera_caption div h5 {
    font-size: 18px;
  }
  .slider_area_tow .slider_inner .camera_caption div h3 {
    font-size: 20px;
    padding-top: 10px;
  }
}
@media (max-width: 360px) {
  .slider_area .slider_inner .camera_caption div h3 {
    font-size: 26px;
  }

  .what_we_area .construction_iner .construction .cns-content {
    padding: 0 10px;
    padding-bottom: 20px;
  }

  .featured_works .featured_gallery .gallery_iner .gallery_hover {
    display: none;
  }

  .footer_area .copyright_area {
    line-height: 26px;
    padding: 10px 0;
  }


  .footer_area .footer_row .footer_about address .my_address li span {
    padding-left: 30px;
  }

 

  .slider_area_tow .slider_inner .camera_caption div h3 {
    font-size: 19px;
    padding-top: 10px;
  }
}
@media (max-width: 320px) {
  .slider_area_tow .slider_inner .camera_caption div {
    padding-top: 95px;
  }

  .slider_area .slider_inner .camera_caption div h3 {
    font-size: 23px;
  }

  

  .slider_area_tow .slider_inner .camera_caption div {
    padding-top: 60px;
  }

  .slider_area_tow .slider_inner .camera_caption div h3 {
    font-size: 18px;
    padding-top: 10px;
  }
}
/*--------------------------------------------------*/

